@{
    ViewData["Title"] = "Certificate";
}
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">              
                <h5 class="modal-title" id="exampleModalLongTitle">Подробнее</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>О сайте</h5>
                <p>
                    Рады приветствовать вас на нашем сайте! Этот сайт предназначен для
                    хранения и публикаций ваших достижений(сертификаты, грамоты и т.п).
                    Также вы можете добавлять ссылки к вашим достижениям. Стоит отметить,
                    что сайт использует свой сервис сокращения ссылок.
                </p>
                <hr />
                <h5>Ограничения</h5>
                <p>Максимальное количество ссылок(к каждому достижению) - 5.</p>
                <hr />
                <h5>Примечание</h5>
                <p>
                    Чтобы авторизоваться вам надо будет подтвердить свою электронную почту,
                    в противном случае вы не сможете войти!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="width:7em;" data-dismiss="modal">Ок</button>
            </div>
        </div>
    </div>
</div>

<section class="jumbotron text-center">
    <div class="container">
        <img src="~/img/logo.jpg" />
        <h1>Добро пожаловать!</h1>
        <p class="lead mt-2">Управляйте и делитесь вашими достижениями</p>
        <p>
            <button href="#" class="btn btn-lg btn-outline-primary my-2" data-toggle="modal" data-target=".bd-example-modal-lg">Подробнее</button>
        </p>
    </div>
</section>

<section>
    <h1 class="text-center mt-5 main">Наши преимущества</h1>
    <div class="container marketing mt-5">
        <div class="row">
            <div class="col-lg-4">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="130" height="130"
                     viewBox="0 0 172 172"
                     style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g fill="#007bff">
                            <path d="M86.08399,10.95996c-1.25977,0 -2.56153,0.46192 -3.61133,1.38575l-12.97558,11.75781l-17.1748,-3.69531c-2.77149,-0.54591 -5.375,1.00781 -6.21484,3.61132l-5.375,16.7129l-16.7129,5.375c-2.60351,0.83984 -4.15723,3.52734 -3.61132,6.21484l0.33594,1.42773h14.61328l11.2959,-3.65332c1.6377,-0.5459 2.89746,-1.80566 3.44335,-3.44335l4.74513,-14.65527l15.07519,3.19141c1.67969,0.37793 3.44336,
                      -0.12598 4.74513,-1.25977l11.42188,-10.33007l11.46386,10.33007c1.25976,1.13379 3.02344,1.59571 4.74511,1.25977l15.0752,-3.19141l4.74511,14.65527c0.50391,1.6377 1.80567,2.93945 3.44336,3.48535l11.2959,3.61132h14.65527l0.29395,-1.42773c0.5459,-2.6875 -1.00781,-5.375 -3.65332,-6.21484l-16.6709,-5.375l-5.375,-16.7129c-0.83984,-2.60351 -3.44336,-4.19922 -6.25683,-3.61132l-17.13281,3.69531l-13.01758,
                      -11.75781c-1.00781,-0.92383 -2.30957,-1.38575 -3.61132,-1.38575zM16.125,64.5c-2.98145,0 -5.375,2.39355 -5.375,5.375v37.625h10.75v-10.75h10.75v-10.75h-10.75v-10.75h10.75v-10.75zM48.375,64.5c-2.98145,0 -5.375,2.39355 -5.375,5.375v37.625h10.75v-12.3877l4.95508,-1.84766l5.12304,14.23535h11.42188l-6.46679,-18.01465l2.98144,-1.13379c2.09961,-0.79785 3.48535,-2.81348 3.48535,
                      -5.03906v-13.4375c0,-2.98145 -2.39355,-5.375 -5.375,-5.375zM91.375,64.5c-2.98145,0 -5.375,2.39355 -5.375,5.375v32.25c0,2.98145 2.39355,5.375 5.375,5.375h26.875v-10.75h-21.5v-1.6377l18.01465,-6.76074c2.09961,-0.79785 3.48535,-2.81348 3.48535,-5.03906v-13.4375c0,-2.98145 -2.39355,-5.375 -5.375,-5.375zM134.375,64.5c-2.98145,0 -5.375,2.39355 -5.375,5.375v32.25c0,2.98145 2.39355,
                      5.375 5.375,5.375h26.875v-10.75h-21.5v-1.6377l18.01465,-6.76074c2.09961,-0.79785 3.48535,-2.81348 3.48535,-5.03906v-13.4375c0,-2.98145 -2.39355,-5.375 -5.375,-5.375zM53.75,75.25h10.75v4.36719l-10.75,4.03125zM96.75,75.25h10.75v4.36719l-10.75,4.03125zM139.75,75.25h10.75v4.36719l-10.75,4.03125zM20.78614,118.25l-0.37793,1.6377c-0.54591,2.6875 1.00781,5.375 3.61132,6.21484l16.7129,
                      5.375l5.375,16.6709c0.83984,2.64551 3.44335,4.24121 6.21484,3.61133l17.1748,-3.65332l12.97558,11.75781c1.0498,0.92382 2.35156,1.38574 3.61133,1.38574c1.30175,0 2.60351,-0.46192 3.61132,-1.38574l13.01758,-11.75781l17.1748,3.69531c2.81348,0.62989 5.375,-1.00781 6.21484,-3.65332l5.41699,-16.62891l16.6709,-5.375c2.60352,-0.88183 4.19922,-3.56933 3.61133,-6.25683l-0.33594,-1.6377h-13.94141l-11.92578,
                      3.86328c-1.67969,0.50391 -2.93946,1.80567 -3.48535,3.48535l-4.70312,14.65527l-15.11719,-3.2334c-1.67969,-0.37793 -3.44335,0.08398 -4.70312,1.25976l-11.50585,10.37207l-11.42187,-10.37207c-1.00781,-0.92382 -2.26758,-1.38574 -3.61133,-1.38574c-0.33594,0 -0.75585,0.04199 -1.09179,0.12598l-15.11719,3.2334l-4.70312,-14.65527c-0.54591,-1.67969 -1.80567,-2.98145 -3.44336,-3.48535l-12.00976,-3.86328z">
                            </path>
                        </g>
                    </g>
                </svg>

                <h2>Бесплатно</h2>
                <p>Вам дан доступ ко всем функциям этого сайта</p>
            </div>
            <div class="col-lg-4">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="130" height="130"
                     viewBox="0 0 172 172"
                     style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g fill="#007bff">
                            <path d="M17.14625,17.2c-5.63043,0 -10.26625,4.63582 -10.26625,10.26625v117.0675c0,5.63043 4.63582,10.26625 10.26625,10.26625h137.7075c5.63043,0 10.26625,-4.63582 10.26625,-10.26625v-117.0675c0,-5.63043 -4.63582,-10.26625 -10.26625,-10.26625zM17.14625,24.08h137.7075c1.91005,0 3.38625,1.4762 3.38625,3.38625v10.37375h-144.48v-10.37375c0,-1.91005 1.4762,-3.38625 3.38625,
                      -3.38625zM24.08,27.52c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM34.4,27.52c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM44.72,27.52c-1.89986,0 -3.44,1.54014 -3.44,
                      3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM13.76,44.72h144.48v99.81375c0,1.91005 -1.4762,3.38625 -3.38625,3.38625h-137.7075c-1.91005,0 -3.38625,-1.4762 -3.38625,-3.38625zM58.48,48.16c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,
                      -3.44 -3.44,-3.44zM82.8086,55.04l-10.5686,41.28h7.095l1.56547,-6.88h10.34688l1.63265,6.88h7.095l-10.57531,-41.28zM103.2,55.04v3.44v37.84h3.44c3.44,0 7.92848,0.16319 11.66375,-2.94953c3.73527,-3.11273 5.53625,-8.6318 5.53625,-17.69047c0,-9.05867 -1.80098,-14.57774 -5.53625,-17.69047c-3.73527,-3.11273 -8.22375,-2.94953 -11.66375,-2.94953zM137.6,55.04c0,0 -2.43811,
                      -0.04744 -4.9786,1.22281c-2.54049,1.27024 -5.3414,4.51052 -5.3414,9.09719c0,2.86667 1.32558,5.20951 2.83531,7.22265c1.50973,2.01314 3.3275,3.81125 5.04578,5.52953l0.00672,0.00672c1.72,1.72 3.34535,3.35836 4.41422,4.78375c1.0687,1.42523 1.45797,2.52287 1.45797,3.09735c0,2.29333 -0.63908,2.49306 -1.5386,2.94281c-0.89951,0.44976 -1.9014,0.49719 -1.9014,0.49719c-2.91701,0 -4.00438,
                      -1.88797 -4.00437,-1.88797l-5.75125,3.77594c0,0 3.42592,4.99203 9.75563,4.99203c0,0 2.43811,0.04744 4.9786,-1.22281c2.54049,-1.27024 5.3414,-4.51052 5.3414,-9.09719c0,-2.86552 -1.3259,-5.20977 -2.83531,-7.22265c-1.50941,-2.01289 -3.32578,-3.80953 -5.04578,-5.52953l-0.00672,-0.00672c-1.71828,-1.71828 -3.33809,-3.35775 -4.4075,-4.78375c-1.06924,-1.42584 -1.46469,
                      -2.52401 -1.46469,-3.09735c0,-2.29333 0.63908,-2.49306 1.5386,-2.94281c0.89951,-0.44976 1.9014,-0.49719 1.9014,-0.49719c2.91701,0 4.00438,1.88797 4.00437,1.88797l5.75125,-3.77594c0,0 -3.42592,-4.99203 -9.75563,-4.99203zM58.48,58.48c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,
                      -3.44zM110.08,62.55828c1.29658,0.1837 3.06688,0.08772 3.81625,0.71219c1.42473,1.18727 3.06375,4.2682 3.06375,12.40953c0,8.14133 -1.63902,11.22226 -3.06375,12.40953c-0.74937,0.62447 -2.51967,0.52848 -3.81625,0.71219zM85.95969,67.17406l3.655,15.38594h-7.15547zM58.48,68.8c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,
                      -3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM58.48,79.12c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM58.48,89.44c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM58.48,99.76c-1.89986,0
                      -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM58.48,110.08c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM68.8,110.08c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,
                      -1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM79.12,110.08c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM89.44,110.08c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM99.76,110.08c-1.89986,0
                      -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM110.08,110.08c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM120.4,110.08c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,
                      -1.89986 -1.54014,-3.44 -3.44,-3.44zM130.72,110.08c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM141.04,110.08c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM151.36,110.08c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,
                              3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44z">
                            </path>
                        </g>
                    </g>
                </svg>

                <h2>Без рекламы</h2>
                <p>На нашем сайте нет ни единой рекламы</p>
            </div>
            <div class="col-lg-4">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     width="130" height="130"
                     viewBox="0 0 172 172"
                     style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g id="original-icon" fill="#007bff">
                            <path d="M17.2,13.76c-1.89978,0.00019 -3.43981,1.54022 -3.44,3.44v34.4c0.00019,1.89978 1.54022,3.43981 3.44,3.44h137.6c1.89978,-0.00019 3.43981,-1.54022 3.44,-3.44v-34.4c-0.00019,-1.89978 -1.54022,-3.43981 -3.44,-3.44zM20.64,20.64h130.72v27.52h-130.72zM34.4,30.96c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM48.16,30.96c-1.89986,0
                      -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM61.92,30.96c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM13.76,65.36v89.44c0.00019,1.89978 1.54022,3.43981 3.44,3.44h137.6c1.89978,-0.00019 3.43981,-1.54022 3.44,
                      -3.44v-89.44h-6.88v86h-130.72v-86zM34.4,65.36c-1.89978,0.00019 -3.43981,1.54022 -3.44,3.44v68.8c0.00019,1.89978 1.54022,3.43981 3.44,3.44h44.72c1.89978,-0.00019 3.43981,-1.54022 3.44,-3.44v-68.8c-0.00019,-1.89978 -1.54022,-3.43981 -3.44,-3.44zM92.88,65.36v6.88h48.16v-6.88zM37.84,72.24h37.84v61.92h-37.84zM92.88,82.56v6.88h48.16v-6.88zM92.88,99.76v6.88h48.16v-6.88zM92.88,116.96v6.88h48.16v-6.88zM92.88,134.16v6.88h48.16v-6.88z">
                            </path>
                        </g>
                    </g>
                </svg>

                <h2>Дизайн</h2>
                <p>Удобный и интуитивно понятный интерфейс</p>
            </div>
        </div>
    </div>
</section>

<section>
    <vc:users-count></vc:users-count>
</section>


