@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1 class="caption">Управление аккаунтом</h1>

<div>
    <h4 class="caption">Изменение настроек</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div id="profile" class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
