@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1 class="caption">@Localizer["Title"]</h1>
<div>
    <h4 class="caption">@Localizer["Description"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-3 mt-layout">
            <partial name="_ManageNav" />
        </div>
        <div id="profile" class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
