@page
@model ChangeUrlModel
@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["ActivePage"] = ManageNavPages.ChangeUrl;
}

<h4>@Localizer["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <p>@Localizer["Description"]</p>
        <form method="post" class="form-group">
            <button class="btn btn-primary" type="submit">@Localizer["Change"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}