@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Сброс пароля";
}

<form class="form-signin">
    <div class="text-center mb-4">
        <h1 class="h1 mb-3 font-weight-normal">@ViewData["Title"]</h1>
        <h5>Для сброса пароля перейдите по ссылке в письме, отправленный на ваш email</h5>
    </div>

    <p class="mt-4 mb-3 text-muted text-center">2020 - APP9 - v2.0</p>
</form>
