@page
@model LockoutModel
@{
    ViewData["Title"] = "Заблокировано";
}

<form class="form-signin">
    <div class="text-center mb-4">
        <h1 class="h1 mb-3 font-weight-normal text-danger">@ViewData["Title"]</h1>
        <h5>Ваш аккаунт заблокирован!</h5>
    </div>

    <p class="mt-4 mb-3 text-muted text-center">2020 - APP9 - v2.0</p>
</form>
