@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="form-signin">
    <div class="text-center mb-4">
        <h1 class="h1 mb-3 font-weight-normal">@Localizer["Description"]</h1>
        <h5>@Localizer["ActionOne"] <a asp-page="./Login">@Localizer["ActionTwo"]</a></h5>
    </div>
    <partial name="_ApplicationNamePartial" />
</div>
