@page
@model ResetPasswordModel
@{
    ViewData["Title"] = Localizer["Title"];
}

<form class="form-signin" asp-antiforgery="true">
    <input asp-for="Input.Code" type="hidden" />
    <div class="text-center mb-4">
        <h1 class="h1 mb-3 font-weight-normal">@Localizer["Title"]</h1>
        <h5>@Localizer["Description"]</h5>
    </div>
    <div asp-validation-summary="ModelOnly" class="alert alert-danger list-style-none"></div>
    <div class="form-label-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" autofocus>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-label-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control">
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-label-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control">
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">@Localizer["Reset"]</button>
    <p class="mt-4 mb-3 text-muted text-center">2020 - APP9 - v2.0</p>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
