@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<form class="form-signin">
    <div class="text-center mb-4">
        <h1 class="h1 mb-3 font-weight-normal">Ваш пароль сброшен</h1>
        <h5>Для входа в приложение перейдите по <a asp-page="./Login">ссылке</a></h5>
    </div>

    <p class="mt-4 mb-3 text-muted text-center">2020 - APP9 - v2.0</p>
</form>
