<noscript>
    <div class="fixed-top w-100 text-center" style="background-color: #cecece;">
        <h5 class="text-danger align-center pb-3 pt-3 mb-0">
            This site needs javascript to work properly. Please enable javascript in your browser settings.
        </h5>
    </div>
</noscript>
